<header class="labHeader clearfix">
	<div class="col-sm-8 labHeader__headline">
		{# <img src="/resources/img/lbnl_logo_stripped-120.png" class="labHeader__brand"> #}
		<img src="{{template_uri}}/assets/img/lbnl_logo_stripped-120.png" alt="placeholder" class="labHeader__brand">
		<span class="labHeader__name hidden-xs">Lawrence Berkeley National Laboratory</span>
		<span class="labHeader__name visible-xs">Berkeley Lab</span>
	</div>
	<section class="col-sm-4 hidden-xs" style="text-align:right;">

			<nav class="labHeader__links">
				<a href="" target="_blank" class="labHeader__link">A-Z Index</a>
				<a href="" target="_blank" class="labHeader__link">Phonebook</a>
				<a href="" target="_blank" class="labHeader__link">Careers</a>
			</nav>
			<div class="labHeader__DOE hidden-xs hidden-sm">
				<img src="{{template_uri}}/assets/img/full_doe_logo_white.png" alt="">
			</div>

	</section>
</header>