{% extends 'layout/base-grid.twig' %}

{% block content %}
	<div class="row">
		<h1 class="small-12 columns page__header">{{page.title}}</h1>
		<article class="small-12 columns page__content">
			{{page.content}}
		</article>
	</div>
	<ul class="video_list">
		{% for video in videos %}
			{% if current_series != video.series %}
				{% set current_series = video.series %}
				{# close category #}
				</ul>
				<div class="row">
					<h2 class="small-12 columns scientist__letter" id="series-{{current_series|lower}}">{{ current_series }}</h2>
					<hr class="scientist__divider">
				</div>
				{# open new category #}
				<ul class="video_list">
			{% endif %}
			{% include 'videos/preview.twig' %}
		{% endfor %}
	</div>
	
{% endblock %}