<li class="card--video">
	<a href="{{video.permalink}}" class="card__link">
		<div class="card-container">
			<div class="card">
				<img src="http://img.youtube.com/vi/{{video.code}}/2.jpg" class="card__thumb">
				<h3 class="card__subtitle--theater">{{video.title}}</h3>
			</div>
		</div>
	</a>
</li>
