// ********************************
// Styles Between 481px and 768px
// ********************************

// max 768
@include mq-tablet {
	body {
		overflow-x: hidden; 
	}
	img {
		max-width: 100%;
		height: auto;
	}

	.card-container--scientist {
		min-height: 285px;
	}
	
	.card--scientist {
		min-height: 265px;
	}
	.widget {
		width: 98%;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	.video_list, .scientist_list {
		@include block-grid(
	    	// This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
	    	// Available options: 1-12 by default, and false.
	    	$per-row: 3,
	
		    // This controls how much space is between each item in the block grid.
		    // Use a variable or any pixel or em values.
		    $spacing: $block-grid-default-spacing,
		
    		// This controls whether or not base styles come through, set to false to leave out.
    		$base-style: true
  		);
	}
}

@include mq-max(850px) {
	.nav__menu, .nav__close {
		display: inherit;
	}

	.nav__right {
		position: fixed;
		top:0;
		padding-top: 46px;
		left:100%;
		width: 60%;
		border-left: $pbd-yellow-green 3px solid;
		height: 100%;
		padding-right: 0;
		background-color: $pbd-green;
		z-index: $z-nav;
		max-width: 300px;
		@include transition-property(left);
		@include transition-duration(500ms);

		&.is_open {
			left: 40%;
		}

		.nav__item {
			display: block;
			text-align: center;
			box-shadow: none;
			@include font-size(1.15);
		}
		.subnav {
			display: block;
		}
	}


	.no-touch, .touch {
		.nav__item, .nav__item:hover {
			.subnav {
				left: 100%;
				position: fixed;
				top: -20px;
				width: 68%;
				min-width: 0;
				max-width: 300px;
  				height: 100%;
  				margin: auto;
				padding-top: 65px;
  				overflow: hidden;
  				clip: auto;
				display: block;
				box-shadow: none;
				border:none;
				border-left: $pbd-yellow-green 3px solid;
				@include transition-property(left);
				@include transition-duration(500ms);

				&.is_open {
					left: 40%;
				}
			}
		}
	}


	.subnav__item {
		width: 88%;
	}
}

@include mq-range(500px, 850px) {
	.nav__right.is_open {
		left: -webkit-calc(100% - 300px);
		left:         calc(100% - 300px);
	}

	.no-touch, .touch  {
		.nav__item .subnav.is_open,
		.nav__item:hover .subnav.is_open {
			left: -webkit-calc(102.5% - 300px);
			left:         calc(102.5% - 300px);
		}

		.nav__item:hover .subnav {
			left:100%;
		}
	}
}

@include mq-max(560px) {
	h1 {
		@include font-size(1.6);
	}
	h2 {
		@include font-size(1.35);
	}
	h3 {
		@include font-size(1.25);
	}
	h4,h5 {
		@include font-size(1.15);
	}
	h6 { 
		@include font-size(0.85);
	}
}

@include mq-min(481px) {
	.tab {
		display: inherit !important;
	}
	.tab--palm {
		display: none !important;
	}
	.mainFooter__linkGroup {
		min-height: 145px;
	}

}
