// ********************************
// Styles Between 481px and 768px
// ********************************

@include mq-tablet {
	img {
		max-width: 100%;
		height: auto;
	}

	.card-container--scientist {
		min-height: 285px;
	}
	
	.card--scientist {
		min-height: 265px;
	}
	.widget {
		width: 98%;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	.video_list, .scientist_list {
		@include block-grid(
	    	// This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
	    	// Available options: 1-12 by default, and false.
	    	$per-row: 3,
	
		    // This controls how much space is between each item in the block grid.
		    // Use a variable or any pixel or em values.
		    $spacing: $block-grid-default-spacing,
		
    		// This controls whether or not base styles come through, set to false to leave out.
    		$base-style: true
  		);
	}
}

@include mq-min(481px) {
	.tab {
		display: inherit !important;
	}
	.tab--palm {
		display: none !important;
	}
	.mainFooter__linkGroup {
		min-height: 145px;
	}

}

@include mq-max(560px) {
	h1 {
		@include font-size(1.6);
	}
	h2 {
		@include font-size(1.35);
	}
	h3 {
		@include font-size(1.25);
	}
	h4,h5 {
		@include font-size(1.15);
	}
	h6 { 
		@include font-size(0.85);
	}
}
