// -------------------------------------
//   Utilities
// -------------------------------------

%c-center, .c-center {
  text-align: center;
}

%c-left, .c-left {
	text-align: left !important;
}

%c-right, .c-right {
	text-align: right !important;
}

%c-condense, .c-condense {
  font-size: 85%;
}
%c-lead, .c-lead {
  font-size: 125%;
}
%c-shout, .c-shout {
  text-transform: uppercase;
}

%sr-only, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.is_hidden {
  display: none !important;
}
.is_shown {
  display: inherit !important;
}
.is_invisible {
  visibility: hidden;
}
