// -------------------------------------
//   Utilities
// -------------------------------------

%c-center, .c-center {
  text-align: center;
}
%c-condense, .c-condense {
  font-size: 85%;
}
%c-lead, .c-lead {
  font-size: 125%;
}
%c-shout, .c-shout {
  text-transform: uppercase;
}