// ********************************
// Styles 480px and below
// ********************************

@include mq-palm {

	img {
		max-width: 100%;
		height: auto;
	}

	.widget {
		display: none;
	}

	#gce_widget-2 {
		display: block;
	}

	.card-container--full {
		min-height: initial;
		.card--program {
			max-height: 300px;
			min-height: 200px;
		}
	}

	.card__text--program {
		display:none;
	}

	.card-container--scientist {
		min-height: 235px;
	}
	
	.card--scientist {
		min-height: 215px;
	}

}

@include mq-range(400px, 480px) {
	.card-container--scientist {
		min-height: 285px;
	}
	
	.card--scientist {
		min-height: 265px;
	}
}
