/*  ==================================
	Base Variables
	================================== */

// *************************************
// Colors
// *************************************

$off-black:    #252525;
$off-white:    #FCFCFC;
$component-bg: #FCFCFC;
$gray-border:  #CECECE;
$grey-border:  $gray-border;

$lab-blue: 	   #00395A; 	/* Laboratory Blue (Slightly better version) */
$lab-old-blue: #0F405B; 	/* Laboratory Blue, According to lbl.gov banner */
$pbd-green:    #008000;
$pbd-yellow:   #ffd059;
$pbd-yellow-green: #9ACD32;
$pbd-cream: papayawhip;

$html-base-background: #008000;
$base-background: #F6F6F6;
$base-color: #252525;
$base-link-color: #0053c9;
$base-link-hover-color: #0053c9;

// *************************************
// Design Element Defaults
// *************************************

$base-border-radius: 3px;
$base-border: 1px solid $base-color;
$base-boxShadow: 0 1px 2px rgba($base-color, 0.25);

// *************************************
// Typography
// *************************************

$base-font-size: 16px;
$base-line-height: 1.7;
$base-whitespace: 20px;
$base-header-font-family: 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// *************************************
// Z-indexes
// *************************************

// Z-Indexes are notoriously hard to keep track of when spread throughout your
// stylesheets. To simplify this process, All Z-indexes should be declared in a
// unique variable in this area.

$z-slider: 5;
$z-subnav: 10;

/*  ==================================
	Breakpoints
	================================== */

// Small Devices
$palm-max:   480px;

// Tablet Sized Devices
$tablet-min: $palm-max+1;
$tablet-max: 769px;

// Laptop Sized Devices
$lap-min: $tablet-max+1;
$lap-max: 1200px;

// Large Devices
$desk-min: 1201px;
$desk-max: 1600px;

// X-Large Device
$xxl-min: $desk-max+1;

// *************************************
// Foundation settings for Grid
// *************************************

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// Media Query Ranges
$small-range:   (0,           $palm-max);
$medium-range:  ($tablet-min, $tablet-max);
$large-range:   ($lap-min,    $lap-max);
$xlarge-range:  ($desk-min,   $desk-max);
$xxlarge-range: ($xxl-min);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{$palm-max})";

$medium-up: "#{$screen} and (min-width:#{$tablet-min})";
$medium-only: "#{$screen} and (min-width:#{$tablet-min}) and (max-width:#{$tablet-max})";

$large-up: "#{$screen} and (min-width:#{$lap-min})";
$large-only: "#{$screen} and (min-width:#{$lap-min}) and (max-width:#{$lap-max})";

$xlarge-up: "#{$screen} and (min-width:#{$desk-min})";
$xlarge-only: "#{$screen} and (min-width:#{$desk-min}) and (max-width:#{$desk-max})";

$xxlarge-up: "#{$screen} and (min-width:#{$xxl-min})";
$xxlarge-only: "#{$screen} and (min-width:#{$xxl-min})";


/*  ==================================
	Content and Layout Variables
	================================== */
$l-maxWidth: 980px;

/*  ==================================
	Module Variables
	================================== */


/*  ==================================
	Vendor Variables
	================================== */
