/*  ==================================================
	Cards
	================================================== */

.card-container {
	border-top:5px $pbd-green solid;
	text-align: center;
	max-width: 240px;
}

.card {
	background-color: $component-bg;
	border: 1px $gray-border solid;
	border-top: none;
	width: 100%;
	max-width: 240px;
	padding: 0 8px;
	@include transition-property(background-color);
	@include transition-duration(600ms);
	@include card-box-shadow();
}

.card__link {
	color: $pbd-green;
	text-decoration: none;
	@include transition-property(color);
	@include transition-duration(500ms);

	&:hover {
		color: $pbd-green;
		text-decoration: none;
	}
}

.card__title {
	margin-top: 0;
	padding-top: 1rem;
}

.card__thumb {
	max-width: 168px;
	width: 90%;
	margin: 8px 0;
	padding: 0 8px;
}

.card__subtitle {
	margin:0 0 8px 0;
}

.card--scientist {
	.card__subtitle {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

.card__content {
	font-size: 16px;
	margin:0 0 8px 0;
}

.card__thumb--full {
	@extend .card__thumb;
	width: 95%;
	max-width: none;
}

// card - full
.card-container--full {
	@extend .card-container;
	max-width: 100%;
	min-height: 460px;
	@include rem-fallback(margin-bottom, 1.5);

	.card--full {
		min-height: 460px;
		height: 100%;
	} 
}

.card--full {
	@extend .card;
	max-width: 100%;
}

// card - scientist
.card-container--scientist {
	@extend .card-container;
	min-height: 265px;
}

.card--scientist {
	@extend .card;
	min-height: 245px;
}

.card--video {
	min-height: 220px;
}

@include mq-lap {
	.card-container--scientist {
		min-height: 305px;
	}
	
	.card--scientist {
		min-height: 285px;
	}
}

@include mq-tablet {
	.card-container--scientist {
		min-height: 285px;
	}
	
	.card--scientist {
		min-height: 265px;
	}
}

@include mq-palm {

	.card-container--full {
		min-height: initial;
		.card--program {
			max-height: 300px;
			min-height: 200px;
		}
	}

	.card__text--program {
		display:none;
	}

	.card-container--scientist {
		min-height: 235px;
	}
	
	.card--scientist {
		min-height: 215px;
		.card__subtitle {
			font-size: 18px;
			font-size: 1rem;
		}
	}
}

@include mq-range(400px, 480px) {
	.card-container--scientist {
		min-height: 285px;
	}
	
	.card--scientist {
		min-height: 265px;
	}
}