img.alignright {
	float:right;
	margin:0 0 1em 1em;
}
img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float:right;
}
.alignleft {
	float:left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 560px) {
	img.alignright {
		float:none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		@include rem-fallback(margin-top, 1.5);
		@include rem-fallback(margin-bottom, 1.5);
	}

	img.alignleft {
		float:none;
		display: block;
		margin:0 auto;
		margin-left: auto;
		margin-right: auto;
		@include rem-fallback(margin-top, 1.5);
		@include rem-fallback(margin-bottom, 1.5);
	}

	.alignright {
		float:none;
		display: block;
	}

	.alignleft {
		float:none;
		display: block;
	}
}