{% extends 'layout/base.twig' %}

{% block html_head %}
    <!-- <link rel="stylesheet" href="/wp-content/themes/wptimber-biosciences/assets/libs/onestop.css"> -->
    <link rel="stylesheet" href="/wp-content/themes/wptimber-biosciences/assets/libs/effeckt-captions.css">
{% endblock %}

{% block content %}
    <div id="onestop">
        <h3>Onestop</h3>
        {% for item in page.get_children %}
        <a href="{{item.link}}" class="onestop-link">
            <div class="onestop__onestop-element">
                <figure class="effeckt-caption" data-effeckt-type="cover-slide-top">
                    <img src="{{TimberImage(item.get_field('image')).src}}" alt="">
                    <figcaption>
                        <div class="effeckt-figcaption-wrap">
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </a>
        {% endfor %}
        <div style="clear:both"></div>
    </div>
{% endblock %}