/*  ==================================================
	Main Footer
	================================================== */

.mainFooter {
	border-top: $pbd-yellow-green 4px solid;
	background: $pbd-green;
	@include rem-fallback(padding, 1.5);
	padding-bottom: 0;
	color: $off-white;
	margin: 0 auto;
	overflow: hidden;
}

.mainFooter__item {
	vertical-align: top;
	text-align: left;
}
.mainFooter__link {
	text-decoration: none;
	font-size: 18px;
	color: $off-white;
	@include transition-property(color);
	@include transition-duration(400ms);

	&:hover {
		color: $pbd-yellow;
	}
}
.mainFooter__linkGroup {
	width: auto;
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    min-width: 180px;
	margin: 0 auto 20px auto;
}

.mainFooter__subheader {
	color: $off-white;
	font-family: $base-header-font-family;
	border-bottom: $pbd-yellow-green 2px solid;
	padding-bottom: 4px;
}

.mainFooter__lab_logo {
	width: 160px;
}

@include mq-min(481px) {
	.mainFooter__linkGroup {
		min-height: 145px;
	}
}