.labHeader {
	background: $lab-blue;
	color: $off-white;
	font-weight:500;
	padding:.25em 0 .25em 0;
	border-bottom: lighten($lab-blue, 10%) 4px solid;

}
	.labHeader__brand {
		max-width:100px;
		height:auto;
		padding: 0.2em 1em 0 .5em;
		padding: 0.2rem 1rem 0 .5rem;
		display:inline;
		float: left;
		margin-top: -4px;
	}

	.labHeader__name {
		position: relative;
		top: 12px;
	}

	.labHeader__headline {
		@include font-size(1.75);
		margin-top:.25rem;
		padding-left: 3px;
	}

	.labHeader__links {
		margin-top: 2.5px;
		text-align: right;
		@include font-size(.75);
		padding-right: 16px;
		display: inline-block;
	}
	.labHeader__links {
	// background no supported in IE8 and cant seem to size correctly.
	// background-image: url('assets/img/doe_seal_white_o35.png');
	// background-size: 31% 100%;
	// background-repeat: no-repeat;
	// background-position: 100% 0%;
	}

	.labHeader__link {
		text-decoration: none;
		color: $off-white;
		text-decoration:none;
		font-size: 12px;
		padding:.25em 0;
		display:block;
		margin: 0;
		padding: 0;

		&:hover {
			color: lighten($lab-blue, 25%);
		}	
	}

	.labHeader__DOE {
		text-align: left;
		display: inline-block !important; // twitter responsive utils force my hand.
		vertical-align: top;
		
		img {
			max-width: 200px;
			max-height: 50px;
			height: 100%;
			margin-top: 2.5px;
		}

	}