/*  ==================================================
	Main Navigation
	================================================== */

.navbar {
	display: block;
	&:before, &:after {
		content: " ";
    	display: table;
	}
	&:after {
		clear: both;
	}
}

.navbar--green {
	background-color: $pbd-green;
	border-bottom: $pbd-yellow-green 4px solid;
	border-left: none;
	border-right: none;
	color: $off-white;
}

.nav {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.nav__right {
	@extend .nav;
	float: right;
	@include rem-fallback(padding-right, 1);
}

.nav__left {
	@extend .nav;
	float: left;
	@include rem-fallback(padding-left, 1);
}

.nav__item, .nav__search {
	position: relative;
	display: inline-block;
	@include rem-fallback(padding, 0.5);
	@include rem-fallback(padding-right, 0.75);

	&:hover, &:hover .nav__link {
		background-color: #009000;
	}

}

.nav__item {
	@include card-box-shadow();
}

.nav__link {
	color: $off-white;
	text-decoration: none;

	&:hover, &:focus {
		color: $pbd-yellow;
		text-decoration: none;
	}
}

.navbar__brand {
	margin: 0;
	@include rem-fallback(padding, 0.5);

	a {
		@extend .nav__link;
		@extend %c-h4;
	}
}

/*  ==================================================
	Sub Navigation
	================================================== */

.no-touch .nav__item:hover .subnav,
.touch .nav__item:hover .subnav.is_open {
	position: absolute;
	display: block;
	width: auto;
	height: auto;
	@include rem-fallback(padding, .5, 1);
	overflow: visible;
	clip: auto;
	left: -3px;
	min-width: 110%;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
	border: 3px $pbd-yellow-green solid;
	border-top: 0;
	@include rem-fallback(margin-top, .5);
}

.subnav {
	@extend .nav;
	@extend %sr-only;
	background-color: #009000;
	z-index: $z-subnav;
	@include card-box-shadow();
}

.subnav__item {
	text-align: center;
	@include rem-fallback(padding-top, 0.5);
}

.subnav__link {
	@extend .nav__link;
}
