/*  ==================================================
	Main Navigation
	================================================== */
@media (min-width: 768px){
	.navbar {
		border-radius: 0;
		min-height: 0;
	}
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
		margin: 5px 3px;
	}
	.navbar-brand {
		padding-top: 9px;
		padding-bottom: 9px; 
		a {
			color: $off-white;
			text-decoration: none;
			@include transition-property(color);
			@include transition-duration(600ms);
			&:hover {
				color: $pbd-yellow;
			}
		}
	}
}

.breadcrumb--pbd {
	margin-bottom: 0;
	background-color: $component-bg;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
}

.navbar--green {
	background-color: $pbd-green;
	border-bottom: $pbd-yellow-green 4px solid;
	border-left: none;
	border-right: none;
	color: $off-white;

	// the navigation link selectors...
	// ugly nesting thanks to bootstrap
	.mainNav__link > a {
		color: $off-white;

		&:hover, &:focus {
			color: $pbd-yellow;
			background-color: $pbd-green;
		}
	}
}
.mainNav__brand {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	color: $off-white;

	&:hover {
		color: $pbd-yellow;
	}

}
.navbar-brand a {
	color: $off-white;
	text-decoration: none;
}
.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px; 
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 6px 7px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: $off-black;
	color: $off-white;
	border: 1px solid transparent;
	border-radius: 4px;
	@include transition-property(background-color);
	@include transition-duration(600ms);
	
	&:hover {
		background-color: lighten($off-black, 5%);
	}
}