#onestop a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.onestop__onestop-element {
    float: left;
    min-width: 200px;
    width: 33%;
}

.onestop__onestop-element img {
    width: 100%;
    max-height: 250px;
}

.effeckt-caption figcaption {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em;
}