.card--scientist {
	@extend .card;
}

.scientist__divider {
	border-top-color: $pbd-green;
	width: 99%;
	margin-left: auto;
	border-top-width: 2px;
}

.scientist__letter {
	color: $pbd-green;
	font-size: 32px;
}

.profile__img {
	padding: 3px;
	border: #252525 2px solid;
	max-width: 175px;
	min-width: 100px;
	background: #FAFAFA;

}
.profile__name, .profile__contact {
	text-align: left;
}
.profile__name {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.profile__name h1, .profile__name h2, .profile__name ul {
	margin-top: 0;
	margin-bottom: 0;
}
.profile__headContainer {
	background: #EDEDED;
    border-bottom: #E5E5E5 3px solid;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.profile__head {
	padding: 8px 0;
	padding: 0.5rem 0;
}
.profile__bio {
	text-align: left;
}
.profile__address, .profile__location {
	margin-bottom: 24rem;
	margin-bottom: 1.5rem;
}