
{% if featured_news %}
		
	<div class="slider">
		
		<div id="slider__content">		

			<img class="dummy <?php echo ( $loop->post_count == 1 ) ? 'hidden' : ''; ?>" src="<?php echo get_template_directory_uri() . '/images/empty.gif' ?>" alt="" width="750" height="380" />
			
			{% for news_item in featured_news %}
				{% if news_item.featured_news_image %}

					<div class="featured-news">
						<h2 class="featured-news__title">
							<a href="{{news_item.permalink}}" class="featured-news__link">
								{{news_item.title}}
							</a>
						</h2>
						<div class="featured-news__date">{{news_item.post_date|date("m/d/Y")}}</div>
					</div>

				{% endif %}
			{% endfor %}

			<span id="slider-prev" class="slider-nav">&larr;</span>
			<span id="slider-next" class="slider-nav">&rarr;</span>
			
		</div><!-- #featured-content -->
				
		<div id="slider__nav">
		
			<ul>
				
				{% for news_item in featured_news %}
					<li> <b class="glyphicon glyphicon-record"></b> </li>	 
				{% endfor %}
					
			</ul>
			
		</div><!-- #slider-nav-->
	   
	</div>
	
{% endif %}