{% extends "layout/base.twig" %}
{% block content %}
	<h1 class="col-xs-12 page__header">{{page.title}}</h1>
	{% for post in posts %}
		<div class="articleContainer col-xs-12">
			{% include [post.post_type~'/preview-full.twig', 'posts/preview-full.twig'] %}
		</div>
	{% endfor %}
{% endblock %}
