{% extends "layout/base.twig" %}
{% block content %}
	<h1 class="small-12 columns page__header">{{page.title}}</h1>
	{% for post in posts %}
		<div class="small-12 columns articleContainer">
			{% include [post.post_type~'/preview-full.twig', 'posts/preview-full.twig'] %}
		</div>
	{% endfor %}
{% endblock %}
