// **********************************
// Utilities
// **********************************

@mixin vendor($name, $argument, $extended: true) {
	-webkit-#{$name}: $argument;
       -moz-#{$name}: $argument;
    @if $extended == true {    
        -ms-#{$name}: $argument;
	     -o-#{$name}: $argument;
	}
			#{$name}: $argument;
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*$base-font-size};

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

@mixin rem($sizeValue: 1) {
  font-size: ($sizeValue * $base-font-size);
  font-size: $sizeValue + rem;
}

@mixin font-size($sizeValue: 1.0) {
  font-size: ($sizeValue * 16 ) + px;
  font-size: $sizeValue + rem;
}

@mixin hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

