#content {
    width: 90%;
    margin: 20px auto;
}

#content-header {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    float: left;
    height: 40px;
    font-size: 20px;
}

.contact {
    float: left;
    margin-right: 30px;
}

.contact span {
    display: block;
}

.clear {
    clear: both;
}

table td, table th {
    border-width: 1px;
}


